{"openapi":"3.0.0","info":{"version":"v2","title":"MSPWare Boarding API","description":"<p>Collection of endpoints for creating and managing merchant boarding applications, and retrieving and updating electronic forms.</p><br/><br/><font><strong>API Limits</strong></font><br/>10 requests per second and 60,000 requests per day - anything greater will return a 429 status (too many requests)"},"servers":[{"url":"https://api.mspware.com/v2","description":"API Base URL"}],"tags":[{"name":"","description":""}],"paths":{"/applications/types":{"get":{"tags":["Applications"],"summary":"Get a list of available application types which can be managed via the API","description":"","parameters":[{"name":"salespersonid","in":"query","description":"Will return the application types available to the specified salesperson ID - if not specified, will return the application types available to the calling user","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Types successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"types":{"type":"array","items":{"type":"object","properties":{"merchantapplicationtypeno":{"type":"number","example":34},"name":{"type":"string","example":"Elavon US Application"}},"required":["merchantapplicationtypeno","name"]}}},"required":["success","types"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"types":{"type":"array","items":{"type":"object","properties":{"merchantapplicationtypeno":{"type":"number","example":34},"name":{"type":"string","example":"Elavon US Application"}},"required":["merchantapplicationtypeno","name"]}}},"required":["success","types"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/types/{merchantapplicationtypeno}/templates":{"get":{"tags":["Applications"],"summary":"Get a list of available template applications for a given application type ID","description":"","parameters":[{"name":"merchantapplicationtypeno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application type ID"},{"name":"salespersonid","in":"query","description":"Will return the application templates available to the specified salesperson ID - if not specified, will return the application types available to the calling user","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Templates successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"types":{"type":"array","items":{"type":"object","properties":{"merchantapplicationno":{"type":"number","example":123},"name":{"type":"string","example":"Standard Pricing Template 3"}},"required":["merchantapplicationno","name"]}}},"required":["success","types"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"types":{"type":"array","items":{"type":"object","properties":{"merchantapplicationno":{"type":"number","example":123},"name":{"type":"string","example":"Standard Pricing Template 3"}},"required":["merchantapplicationno","name"]}}},"required":["success","types"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/types/{merchantapplicationtypeno}/schema":{"get":{"tags":["Applications"],"summary":"Get the schema for an application type","description":"Retrieve a JSON schema that represents all of the form fields, business logic, data validation types, etc... for a merchant application type\'s electronic form. This is the same exact object that is used in MSPWare to generate the form UI. Each named form field can be submitted in a PUT request to a merchant application form to save responses.<br/><br/>Note: A very limited partial example response is shown below.","parameters":[{"name":"merchantapplicationtypeno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application type ID"}],"responses":{"200":{"description":"The schema is successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"spec":{"type":"object","properties":{"pages":{"type":"array","items":{"type":"object","properties":{"heading":{"type":"string","example":"Merchant Information"},"items":{"type":"array","items":{"type":"object","properties":{"validation":{"type":"object","properties":{"isRequired":{"type":"boolean","example":true},"isHidden":{"type":"array","items":{"type":"object","properties":{"cardx":{"type":"object","properties":{"neq":{"type":"string","example":"cardx"}},"required":["neq"]}},"required":["cardx"]}}},"required":["isRequired","isHidden"]},"label":{"type":"string","example":"Merchant Timezone"},"options":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","example":"PST (UTC-8:00)"},"value":{"type":"string","example":"pst"}},"required":["label","value"]}},"type":{"type":"string","example":"select"},"name":{"type":"string","example":"merchant_timezone"}},"required":["validation","label","options","type","name"]}}},"required":["heading","items"]}}},"required":["pages"]}},"required":["success","spec"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"spec":{"type":"object","properties":{"pages":{"type":"array","items":{"type":"object","properties":{"heading":{"type":"string","example":"Merchant Information"},"items":{"type":"array","items":{"type":"object","properties":{"validation":{"type":"object","properties":{"isRequired":{"type":"boolean","example":true},"isHidden":{"type":"array","items":{"type":"object","properties":{"cardx":{"type":"object","properties":{"neq":{"type":"string","example":"cardx"}},"required":["neq"]}},"required":["cardx"]}}},"required":["isRequired","isHidden"]},"label":{"type":"string","example":"Merchant Timezone"},"options":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","example":"PST (UTC-8:00)"},"value":{"type":"string","example":"pst"}},"required":["label","value"]}},"type":{"type":"string","example":"select"},"name":{"type":"string","example":"merchant_timezone"}},"required":["validation","label","options","type","name"]}}},"required":["heading","items"]}}},"required":["pages"]}},"required":["success","spec"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications":{"post":{"tags":["Applications"],"summary":"Create a new merchant boarding application","description":"","parameters":[{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"dba":{"type":"string","example":"North Valley Pet Store"},"merchantapplicationtypeno":{"type":"number","example":34},"salespersonid":{"type":"number","example":45000},"templatemerchantapplicationno":{"type":"number","example":123}},"required":["dba","merchantapplicationtypeno","salespersonid","templatemerchantapplicationno"]}}],"responses":{"200":{"description":"Templates successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantapplicationno":{"type":"number","example":1234}},"required":["success","merchantapplicationno"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantapplicationno":{"type":"number","example":1234}},"required":["success","merchantapplicationno"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"merchantapplicationtypeno":{"example":"any"},"dba":{"example":"any"},"templatemerchantapplicationno":{"example":"any"},"salespersonid":{"example":"any"}}}}}}},"get":{"tags":["Applications"],"summary":"Retrieve a list of merchant applications using optional filters, pagination and sorting","description":"","parameters":[{"name":"pagesize","in":"query","description":"Number of records to return per request","required":false,"default":20,"schema":{"type":"integer"}},{"name":"page","in":"query","description":"Starting page","required":false,"default":1,"schema":{"type":"integer"}},{"name":"salespersonid","in":"query","description":"Filter by salespersonid","required":false,"schema":{"type":"integer"}},{"name":"type","in":"query","description":"if empty returns all applications, \'submitted\' returns apps submitted to elavon, \'paperwork\' returns apps not yet submitted","required":false,"schema":{"type":"string"},"default":""},{"name":"apptype","in":"query","description":"Filter by application type. Get the list of available apptypes from GET application/types","required":false,"schema":{"type":"string"}},{"name":"ordering","in":"query","description":"Sort order for the query. You can use primary and secondary sort. example created_on DESC, dba ASC. Sortable columns : dba,rep,status,last_updated,type,dateadded","required":false,"default":"created_on DESC","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Filter by tag attached to an application record. Get the list of available tags from GET application/tags","required":false,"schema":{"type":"string"}},{"name":"template","in":"query","description":"Filter by template name that the application was copied from. Get the list of available templates from GET application/types/:merchantapplicationtypeno/templates","required":false,"schema":{"type":"string"}},{"name":"sla","in":"query","description":"Filter by sla. options are Y (within SLA) or N (SLA Overdue)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter based on a particular status. Get the list of available statuses from GET application/statuses","required":false,"default":"","example":"Submitted","schema":{"type":"string"}},{"name":"daterange","in":"query","description":"Filter applications by a date range starting from present back to a time. options are all, ytd, mtd, or n_datepart. example 60_d, 30_m, or 7_y","required":false,"default":-1,"example":30,"schema":{"type":"integer"}},{"name":"timezone","in":"query","description":"Used in conjunction with daterange, specify the timezone for inclusion of records in a range. GMT is default. See list of available timezone strings here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones","required":false,"default":"","example":"Etc/Greenwich","schema":{"type":"string"}},{"name":"search","in":"query","description":"match a search term on App Name, MID, AWB, or Salesperson","required":false,"default":"","example":"test","schema":{"type":"string"}},{"name":"body","in":"body","description":"optionally all filtering can be passed as json in the body instead of url parameters","required":false,"schema":{"type":"object","properties":{"salespersonid":{"type":"number","example":123},"submitted":{"type":"string","example":""},"ordering":{"type":"string","example":"last_updated DESC, dba ASC"},"status":{"type":"string","example":"Approved"},"daterange":{"type":"number","example":120},"timezone":{"type":"string","example":""},"tag":{"type":"string","example":""},"templatename":{"type":"string","example":""},"sla":{"type":"string","example":""},"search":{"type":"string","example":"test"}},"required":["salespersonid","submitted","ordering","status","daterange","timezone","tag","templatename","sla","search"]}}],"responses":{"200":{"description":"List of Applications successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":20},"total":{"type":"number","example":1000},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":20},"pages":{"type":"number","example":10},"nextpage":{"type":"string","example":"/applications?page=2&pagesize=20"},"applications":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationsItem"}}},"required":["success","error","count","total","page","pagesize","pages","nextpage","applications"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":20},"total":{"type":"number","example":1000},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":20},"pages":{"type":"number","example":10},"nextpage":{"type":"string","example":"/applications?page=2&pagesize=20"},"applications":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationsItem"}}},"required":["success","error","count","total","page","pagesize","pages","nextpage","applications"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/form":{"put":{"tags":["Applications"],"summary":"Partial data save to a merchant application electronic form","description":"Pass a JSON object of response to save to a form. This is a partial save, meaning only the fields passed in the request are saved to the electronic form - in other words, this is a document merge and not a document replace.<br/><br/>To clear a field, the field name must be explicitly sent with an empty string value.<br/>Fields marked as \'repeatable\' in the form schema must be passed as arrays (see example below)","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"full_dba_name":{"type":"string","example":"North Valley Pet Store"},"year_business_established":{"type":"string","example":"2003"},"owners":{"type":"array","items":{"type":"object","properties":{"owner_firstname":{"type":"string","example":"Sally"},"owner_lastname":{"type":"string","example":"Smith"}},"required":["owner_firstname","owner_lastname"]}}},"required":["full_dba_name","year_business_established","owners"]}}],"responses":{"200":{"description":"Form details successfully saved and returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"validation":{"type":"object","properties":{"errors":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"errors":{"type":"string","example":"Value must be only digits."},"label":{"type":"string","example":"Existing MID"},"key":{"type":"string","example":"existing_merchant_id"}},"required":["errors","label","key"]}},"completion":{"type":"array","items":{"type":"object","properties":{"errors":{"type":"string","example":"This field is required."},"label":{"type":"string","example":"Year"},"key":{"type":"string","example":"year_business_established"}},"required":["errors","label","key"]}},"rules":{"type":"array","example":["At least one equipment or VAR selection is required."],"items":{"type":"string"}}},"required":["data","completion","rules"]},"canSave":{"type":"boolean","example":false},"percent_complete":{"type":"number","example":16.875},"form":{"type":"object","properties":{"legal_dba_name":{"type":"string","example":"North Valley Pet Store"},"statement_type":{"type":"string","example":"A"},"owners":{"type":"array","items":{"type":"object","properties":{"owner_firstname":{"type":"string","example":"John"},"owner_lastname":{"type":"string","example":"Smith"}},"required":["owner_firstname","owner_lastname"]}}},"required":["legal_dba_name","statement_type","owners"]},"messages":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"FieldsRemoved"},"count":{"type":"number","example":5},"friendly":{"type":"string","example":"5 fields were cleared because they were hidden by form rules."}},"required":["type","count","friendly"]}},"errortype":{"type":"string","example":"VALIDATION"},"error":{"type":"string","example":"Validation errors - please see details in response object"}},"required":["errors","canSave","percent_complete","form","messages","errortype","error"]}},"required":["success","validation"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"validation":{"type":"object","properties":{"errors":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"errors":{"type":"string","example":"Value must be only digits."},"label":{"type":"string","example":"Existing MID"},"key":{"type":"string","example":"existing_merchant_id"}},"required":["errors","label","key"]}},"completion":{"type":"array","items":{"type":"object","properties":{"errors":{"type":"string","example":"This field is required."},"label":{"type":"string","example":"Year"},"key":{"type":"string","example":"year_business_established"}},"required":["errors","label","key"]}},"rules":{"type":"array","example":["At least one equipment or VAR selection is required."],"items":{"type":"string"}}},"required":["data","completion","rules"]},"canSave":{"type":"boolean","example":false},"percent_complete":{"type":"number","example":16.875},"form":{"type":"object","properties":{"legal_dba_name":{"type":"string","example":"North Valley Pet Store"},"statement_type":{"type":"string","example":"A"},"owners":{"type":"array","items":{"type":"object","properties":{"owner_firstname":{"type":"string","example":"John"},"owner_lastname":{"type":"string","example":"Smith"}},"required":["owner_firstname","owner_lastname"]}}},"required":["legal_dba_name","statement_type","owners"]},"messages":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"FieldsRemoved"},"count":{"type":"number","example":5},"friendly":{"type":"string","example":"5 fields were cleared because they were hidden by form rules."}},"required":["type","count","friendly"]}},"errortype":{"type":"string","example":"VALIDATION"},"error":{"type":"string","example":"Validation errors - please see details in response object"}},"required":["errors","canSave","percent_complete","form","messages","errortype","error"]}},"required":["success","validation"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"get":{"tags":["Applications"],"summary":"Get the schema for an application type","description":"Get the current state of the application","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"}},{"name":"merchantapplicationtypeno","description":"Merchant application type ID","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"The schema is successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"full_dba_name":{"type":"string","example":"North Valley Pet Store"},"year_business_established":{"type":"string","example":"2003"},"owners":{"type":"array","items":{"type":"object","properties":{"owner_firstname":{"type":"string","example":"Sally"},"owner_lastname":{"type":"string","example":"Smith"}},"required":["owner_firstname","owner_lastname"]}}},"required":["full_dba_name","year_business_established","owners"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"full_dba_name":{"type":"string","example":"North Valley Pet Store"},"year_business_established":{"type":"string","example":"2003"},"owners":{"type":"array","items":{"type":"object","properties":{"owner_firstname":{"type":"string","example":"Sally"},"owner_lastname":{"type":"string","example":"Smith"}},"required":["owner_firstname","owner_lastname"]}}},"required":["full_dba_name","year_business_established","owners"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/statuses":{"get":{"tags":["Applications"],"summary":"DEPRECATED (will be removed in next version) - Use /lookups/statuses instead","description":"","parameters":[],"responses":{"200":{"description":"Statuses successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"statuses":{"type":"array","example":["Approved","Declined","New","Nothing","Out for Signature"],"items":{"type":"string"}}},"required":["success","statuses"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"statuses":{"type":"array","example":["Approved","Declined","New","Nothing","Out for Signature"],"items":{"type":"string"}}},"required":["success","statuses"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/tags":{"get":{"tags":["Applications"],"summary":"Get a list of available application tags which can used for filtering applications","description":"","parameters":[{"name":"search","in":"query","description":"match a search term for the tag. if none supplied only top 5 tags will be returned","required":false,"default":"","example":"my tag name","schema":{"type":"string"}}],"responses":{"200":{"description":"Statuses successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"tags":{"type":"array","example":["tag1","tag2","tag3","tag4","tag5"],"items":{"type":"string"}}},"required":["success","tags"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"tags":{"type":"array","example":["tag1","tag2","tag3","tag4","tag5"],"items":{"type":"string"}}},"required":["success","tags"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}":{"get":{"tags":["Applications"],"summary":"Retrieve a particular merchant application record, which includes a list of attached supporting documents","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application No"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Application"}}}}},"security":[{"appkey":[],"appid":[]}]},"delete":{"tags":["Applications"],"summary":"Deletes a merchant application.","description":"A soft delete, and cancels any previous submissions","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Delete completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":""}},"required":["success","message"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":""}},"required":["success","message"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/promote":{"put":{"tags":["Applications"],"summary":"Promotes a merchant application to the next state in the workflow","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Promotion completed successfully and returned new state","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"validateApplication":{"example":"any"}}}}}}}},"/applications/{merchantapplicationno}/demote":{"put":{"tags":["Applications"],"summary":"Demotes a merchant application to the previous state in the workflow","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Demote complete dsuccessfully and returned new state","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"validateApplication":{"example":"any"}}}}}}}},"/applications/{merchantapplicationno}/status":{"get":{"tags":["Applications"],"summary":"Returns the current status of the merchant application","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Status returned successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merchantApplicationNo":{"type":"number","example":95593},"currentState":{"type":"string","example":"ProcessorReturn"},"promoteState":{"type":"string","example":"Approved"},"promoteUrl":{"type":"string","example":"/v2/applications/95593/promote"},"demoteState":{"type":"string","example":"Returned"},"demoteUrl":{"type":"string","example":"/v2/applications/95593/demote"}},"required":["success","merchantApplicationNo","currentState","promoteState","promoteUrl","demoteState","demoteUrl"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/submit":{"put":{"tags":["Applications"],"summary":"Submits a merchant application.","description":"First validates, then submits to the processor.<br/><br/><font><strong>NOTE: This process is async and may take as long as 4 minutes. call GET status periodically to get the current status of the submission</strong></font>","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Submission executed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Submitted to processor..."}},"required":["success","message"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Submitted to processor..."}},"required":["success","message"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"documentlist":{"example":"any"},"override":{"example":"any"},"debug":{"example":"any"}}}}}}}},"/applications/{merchantapplicationno}/documents":{"get":{"tags":["Documents"],"summary":"Returns a list of documents previously attached to this application","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully returns documents","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"documents":{"type":"array","items":{"type":"object","properties":{"merchantapplicationdocno":{"type":"number","example":2},"merchantapplicationtypeno":{"type":"number","example":68},"name":{"type":"string","example":"Elavon US Application - Signed"}}}}},"required":["success","documents"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"documents":{"type":"array","items":{"type":"object","properties":{"merchantapplicationdocno":{"type":"number","example":2},"merchantapplicationtypeno":{"type":"number","example":68},"name":{"type":"string","example":"Elavon US Application - Signed"}}}}},"required":["success","documents"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"post":{"tags":["Documents"],"summary":"Uploads a single document using multipart form-data.","description":"Add a form-data element with key set to file, value set to filename and the contents set to a bytearray. For sample code see: https://github.com/jjakob-payroc/mspware-api","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"file","in":"formData","required":true,"description":"single file to upload, supply the filename in the entry field","collectionFormat":"multi","items":{"type":"file"},"schema":{"type":"bytearray"}}],"responses":{"200":{"description":"Successfully uploads the document","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"DOCID":{"type":"number","example":12345},"FILENAME":{"type":"string","example":"dummy.pdf"}},"required":["success","error","DOCID","FILENAME"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"DOCID":{"type":"number","example":12345},"FILENAME":{"type":"string","example":"dummy.pdf"}},"required":["success","error","DOCID","FILENAME"],"xml":{"name":"main"}}}}},"422":{"description":"Unprocessable Entity"}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/documents/{merchantapplicationdocumentno}":{"get":{"tags":["Documents"],"summary":"Downloads the contents of the specified document number","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"merchantapplicationdocumentno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully downloads the document","content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","example":"stream of bytes"}},"required":["file"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"file":{"type":"string","example":"stream of bytes"}},"required":["file"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"delete":{"tags":["Documents"],"summary":"Deletes a document attached to the specified document number","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"merchantapplicationdocumentno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully deletes the document","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/signatures":{"post":{"tags":["Signatures"],"summary":"Packages the application data into a signable PDF and ships it to the e-sign provider for signatures.","description":"Requires a 100% complete application form. Unique signing links are created for each principle defined on the application form. Does NOT send a signing request to anyone -- you can use the resulting signatures \"package\" to either send an email request to each principle individually or simply retrieve the signing link(s).","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"doclist","in":"body","description":"Specify a comma separated list of document ids from the documents attached to the application record to include in the packaged signature document.","required":false,"schema":{"type":"object","properties":{"doclist":{"type":"string","example":"3442,3443,3444"}},"required":["doclist"]}},{"name":"sendEmail","in":"body","description":"Automatically send an email with signing link to recipient(s) after the signature document is created.","required":false,"schema":{"type":"object","properties":{"sendEmail":{"type":"boolean","example":true}},"required":["sendEmail"]}}],"responses":{"200":{"description":"Successfully created the e-sign package.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"link":{"type":"string","example":"applications/12345/signatures"}},"required":["success","error","link"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"link":{"type":"string","example":"applications/12345/signatures"}},"required":["success","error","link"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"doclist":{"example":"any"},"sendEmail":{"example":"any"}}}}}}},"get":{"tags":["Signatures"],"summary":"Retrieve the package of application signers, statuses, and overall state of the application signature process.","description":"","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully returns the signing status for the supplied merchant application number.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"createdOn":{"type":"string","example":"2025-07-14 14:03:18"},"updatedOn":{"type":"string","example":"2025-07-14 14:33:37"},"envelopeStatus":{"type":"string","example":"new"},"signers":{"type":"array","items":{"type":"object","properties":{"requestmethod":{"type":"string","example":"email"},"localstatus":{"type":"string","example":"requested"},"emailAddress":{"type":"string","example":"test@test.com"},"name":{"type":"string","example":"James Bond"}}}}},"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"createdOn":{"type":"string","example":"2025-07-14 14:03:18"},"updatedOn":{"type":"string","example":"2025-07-14 14:33:37"},"envelopeStatus":{"type":"string","example":"new"},"signers":{"type":"array","items":{"type":"object","properties":{"requestmethod":{"type":"string","example":"email"},"localstatus":{"type":"string","example":"requested"},"emailAddress":{"type":"string","example":"test@test.com"},"name":{"type":"string","example":"James Bond"}}}}},"xml":{"name":"main"}}}}},"404":{"description":"Not Found"}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/signatures/link":{"get":{"tags":["Signatures"],"summary":"Retrieve a signing link for an individual signer on an application.","description":"The signing link can be opened directly or embedded in an iframe, and will open a signing window served by the e-signature provider. This link should only be served to or shared with the intended signer of the application.","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"emailAddress","in":"query","description":"Use the email address to reference the individual signing the application - this email must exactly match one of the emails from the application signers list.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully returns the signing status for the supplied merchant application number.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"link":{"type":"string","example":"https://signatures.example.com/sign/?doc=5dd6e746-a7d5-4fcf-8e3e-ce8a57caa3ebs_JN8xl;4d927174-8a4e-482c-a555-a111da54ef74"},"error":{"type":"string","example":""}},"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"link":{"type":"string","example":"https://signatures.example.com/sign/?doc=5dd6e746-a7d5-4fcf-8e3e-ce8a57caa3ebs_JN8xl;4d927174-8a4e-482c-a555-a111da54ef74"},"error":{"type":"string","example":""}},"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/signatures/email":{"get":{"tags":["Signatures"],"summary":"Send a secure email containing a signing link to one of the signers on your application.","description":"The specified signer will receive an email with a link to a secure signing portal which expires after 72 hours.","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"},{"name":"emailAddress","in":"query","description":"Use the email address to reference the individual signing the application - this email must exactly match one of the emails from the application signers list.","required":true,"schema":{"type":"string"}},{"name":"messageBody","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully returns the signing status for the supplied merchant application number.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"msg":{"type":"string","example":"Signing email sent to test@test.com"}},"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"msg":{"type":"string","example":"Signing email sent to test@test.com"}},"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/documents/pdfcopy":{"post":{"tags":["Documents"],"summary":"Creates a PDF copy of the merchant application with empty signing fields.","description":"Generates a PDF copy of the application, attaching it to the application record and returning a document ID which can be used in a followup GET request.","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully generates the document","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"MerchantApplicationDocumentNo":{"type":"number","example":1234},"error":{"type":"string","example":""}},"required":["success","MerchantApplicationDocumentNo","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"MerchantApplicationDocumentNo":{"type":"number","example":1234},"error":{"type":"string","example":""}},"required":["success","MerchantApplicationDocumentNo","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/applications/{merchantapplicationno}/documents/elavon/coc":{"post":{"tags":["Documents"],"summary":"Generate and attach a Canadian Code of Conduct document to an Elavon application.","description":"Creates a Canadian Code of Conduct document and attaches it to an Elavon application - required for submitting or sending any Elavon Canada merchant applications for signatures.","parameters":[{"name":"merchantapplicationno","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant application ID"}],"responses":{"200":{"description":"Successfully generates the document","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"MerchantApplicationDocumentNo":{"type":"number","example":1234},"error":{"type":"string","example":""}},"required":["success","MerchantApplicationDocumentNo","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"MerchantApplicationDocumentNo":{"type":"number","example":1234},"error":{"type":"string","example":""}},"required":["success","MerchantApplicationDocumentNo","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/banks/abaroutingnumbers/{routingnumber}":{"get":{"tags":["Banks"],"summary":"Validates an ABA routing number","description":"","parameters":[{"name":"routingnumber","in":"path","required":true,"schema":{"type":"string"},"description":"Nine digit routing number. Note: Canadian format only 8 digits: 5 digit branch or transit, 3 digit bank or institution"},{"name":"body","in":"body","description":"if routingnumber not found, you can optionally specify the international country code US (USA) or CA (Canada) and this will clear cache for this route and cause a central lookup for new data","required":false,"schema":{"type":"object","properties":{"countrycode":{"type":"string","example":"CA"}},"required":["countrycode"]}}],"responses":{"200":{"description":"Successfully validates the routing number ","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","example":1},"success":{"type":"boolean","example":true},"bank":{"type":"object","properties":{"valid":{"type":"boolean","example":true},"rtpEnabled":{"type":"number","example":1},"name":{"type":"string","example":"BNB BANK"},"city":{"type":"string","example":"BRIDGEHAMPTON"},"state":{"type":"string","example":"NY"},"routingNumber":{"type":"string","example":"021406667"}},"required":["valid","rtpEnabled","name","city","state","routingNumber"]}},"required":["count","success","bank"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"count":{"type":"number","example":1},"success":{"type":"boolean","example":true},"bank":{"type":"object","properties":{"valid":{"type":"boolean","example":true},"rtpEnabled":{"type":"number","example":1},"name":{"type":"string","example":"BNB BANK"},"city":{"type":"string","example":"BRIDGEHAMPTON"},"state":{"type":"string","example":"NY"},"routingNumber":{"type":"string","example":"021406667"}},"required":["valid","rtpEnabled","name","city","state","routingNumber"]}},"required":["count","success","bank"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants":{"get":{"tags":["Merchants"],"summary":"Gets a list of merchants","description":"","parameters":[{"name":"page","in":"query","description":"The page number to return while paginating. The page value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"pagesize","in":"query","description":"The number of records to return in each page while paginating. The pagesize value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"body","in":"body","description":"Optional filter and pagination in the body as json or as querystring parameters","required":false,"schema":{"type":"object","properties":{"page":{"type":"number","example":1},"pagesize":{"type":"number","example":1000},"active":{"type":"string","example":"1"},"processor":{"type":"string","example":""},"ordering":{"type":"string","example":"name ASC"},"referralSource":{"type":"string","example":""},"salesteam":{"type":"string","example":""},"status":{"type":"string","example":""},"search":{"type":"string","example":""}},"required":["page","pagesize","active","processor","ordering","referralSource","salesteam","status","search"]}}],"responses":{"200":{"description":"Successfully returns a list of merchants, paginated ","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":100},"total":{"type":"number","example":1000},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":100},"pages":{"type":"number","example":10},"nextpage":{"type":"string","example":"/merchants?page=2&pagesize=100&active=1&processor="},"merchants":{"type":"array","items":{"type":"object","properties":{"mid":{"type":"string","example":"123456789"},"name":{"type":"string","example":"Test Merchant"},"processor":{"type":"string","example":"Test Processor"},"status":{"type":"string","example":"Active"},"last_updated":{"type":"string","example":"2023-03-30 14:35:01"},"link":{"type":"string","example":"/merchants/123456789"}},"required":["mid","name","processor","status","last_updated","link"]}}},"required":["success","error","count","total","page","pagesize","pages","nextpage","merchants"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":100},"total":{"type":"number","example":1000},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":100},"pages":{"type":"number","example":10},"nextpage":{"type":"string","example":"/merchants?page=2&pagesize=100&active=1&processor="},"merchants":{"type":"array","items":{"type":"object","properties":{"mid":{"type":"string","example":"123456789"},"name":{"type":"string","example":"Test Merchant"},"processor":{"type":"string","example":"Test Processor"},"status":{"type":"string","example":"Active"},"last_updated":{"type":"string","example":"2023-03-30 14:35:01"},"link":{"type":"string","example":"/merchants/123456789"}},"required":["mid","name","processor","status","last_updated","link"]}}},"required":["success","error","count","total","page","pagesize","pages","nextpage","merchants"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"post":{"tags":["Merchants"],"summary":"Add a new merchant","description":"Pass the merchant data as a JSON object in the body of the request.","parameters":[{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"processor_type":{"type":"string","example":""},"dbaname":{"type":"string","example":""},"MIDno":{"type":"string","example":"1234567890"},"salesteam1":{"type":"string","example":""},"salesteam1Comm":{"type":"string","example":"0"},"refSource1":{"type":"string","example":""},"refSource1Comm":{"type":"string","example":"0"},"contactperson":{"type":"string","example":"Test Contact"},"contactpersonemail":{"type":"string","example":""},"phone":{"type":"string","example":""},"my_status":{"type":"string","example":"Approved"},"approvalDate":{"type":"string","example":"YYYY-MM-DD"},"app_received":{"type":"string","example":"YYYY-MM-DD"},"ElavonAPPID":{"type":"string","example":""},"username":{"type":"string","example":""},"division":{"type":"string","example":""}},"required":["processor_type","dbaname","MIDno","salesteam1","salesteam1Comm","refSource1","refSource1Comm","contactperson","contactpersonemail","phone","my_status","approvalDate","app_received","ElavonAPPID","username","division"]}}],"responses":{"200":{"description":"Merchant created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merch_id":{"type":"number","example":123456890}},"required":["success","merch_id"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"merch_id":{"type":"number","example":123456890}},"required":["success","merch_id"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}":{"put":{"tags":["Merchants"],"summary":"Update an existing merchant","description":"Pass the merchant data as a JSON object in the body of the request.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant ID external"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"processor_type":{"type":"string","example":""},"dbaname":{"type":"string","example":""},"MIDno":{"type":"string","example":"1234567890"},"salesteam1":{"type":"string","example":""},"salesteam1Comm":{"type":"string","example":"0"},"refSource1":{"type":"string","example":""},"refSource1Comm":{"type":"string","example":"0"},"contactperson":{"type":"string","example":"Test Contact"},"contactpersonemail":{"type":"string","example":""},"phone":{"type":"string","example":""},"my_status":{"type":"string","example":"Approved"},"approvalDate":{"type":"string","example":"YYYY-MM-DD"},"app_received":{"type":"string","example":"YYYY-MM-DD"},"ElavonAPPID":{"type":"string","example":""},"username":{"type":"string","example":""},"division":{"type":"string","example":""}},"required":["processor_type","dbaname","MIDno","salesteam1","salesteam1Comm","refSource1","refSource1Comm","contactperson","contactpersonemail","phone","my_status","approvalDate","app_received","ElavonAPPID","username","division"]}}],"responses":{"200":{"description":"Merchant updated successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"delete":{"tags":["Merchants"],"summary":"Delete an existing merchant (soft delete)","description":"Pass the external mid as a parameter in the url.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant ID external"}],"responses":{"200":{"description":"Successfully deletes the merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"get":{"tags":["Merchants"],"summary":"Get information about a specific merchant","description":"","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The internal system ID of the merchant"}],"responses":{"200":{"description":"Successfully retreaved Merchant information","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"mid":{"type":"string","example":"123456789"},"name":{"type":"string","example":"Test Merchant"},"contact_name":{"type":"string","example":"Jane"},"contact_lastname":{"type":"string","example":"Doe"},"website_url":{"type":"string","example":"https://jellybellies.com"},"phone":{"type":"string","example":"519-555-1212"},"email":{"type":"string","example":"taster@jellybellies.com"},"sic":{"type":"string","example":"CODE 101"},"mcc":{"type":"string","example":"CODE 101"},"federal_tax_id":{"type":"string","example":"999999999"},"status":{"type":"string","example":"Pending Approval"},"approval_date":{"type":"string","example":"2023-03-30 10:10:10"},"status_date":{"type":"string","example":"2023-03-30 14:56:01"},"processor":{"type":"string","example":"Elavon"},"elavonappid":{"type":"string","example":"AWB2713821"},"discover_no":{"type":"string","example":"601113017198725"},"amex_no":{"type":"string","example":"601113017198725"},"fax":{"type":"string","example":"8052626205"},"corporate_name":{"type":"string","example":"Test Merchant, INC"},"service_products":{"type":"string","example":"ACCOUNTING/AUDITING SERVICES"},"business_type":{"type":"string","example":"MOTO / Internet"},"dateadded":{"type":"string","example":"2023-03-30 10:10:10"},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":""},"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"postal_code":{"type":"string","example":""}},"required":["type","address_line_1","address_line_2","city","state","postal_code"]}},"primary_sales_rep":{"type":"object","properties":{"id":{"type":"string","example":"1"},"link":{"type":"string","example":"/users/1"}},"required":["id","link"]},"statistics":{"type":"object","properties":{"link":{"type":"string","example":"/merchants/123456789/statistics"}},"required":["link"]},"primary_referral_source":{"type":"object","properties":{"id":{"type":"string","example":"12"},"link":{"type":"string","example":"/users/12"}},"required":["id","link"]},"division":{"type":"object","properties":{"id":{"type":"string","example":"12"},"name":{"type":"string","example":"Eastern Sales"}},"required":["id","name"]},"payee_splits":{"type":"array","items":{"type":"object","properties":{"payee":{"type":"object","properties":{"id":{"type":"number","example":0},"link":{"type":"string","example":""},"percentage":{"type":"number","example":0},"basis_points":{"type":"number","example":0},"net_pay":{"type":"boolean","example":false},"referral_partner":{"type":"boolean","example":false},"position":{"type":"number","example":1}},"required":["id","link","percentage","basis_points","net_pay","referral_partner","position"]}}}}},"required":["success","error","mid","name","contact_name","contact_lastname","website_url","phone","email","sic","mcc","federal_tax_id","status","approval_date","status_date","processor","elavonappid","discover_no","amex_no","fax","corporate_name","service_products","business_type","dateadded","primary_sales_rep","statistics","primary_referral_source","division","payee_splits"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"mid":{"type":"string","example":"123456789"},"name":{"type":"string","example":"Test Merchant"},"contact_name":{"type":"string","example":"Jane"},"contact_lastname":{"type":"string","example":"Doe"},"website_url":{"type":"string","example":"https://jellybellies.com"},"phone":{"type":"string","example":"519-555-1212"},"email":{"type":"string","example":"taster@jellybellies.com"},"sic":{"type":"string","example":"CODE 101"},"mcc":{"type":"string","example":"CODE 101"},"federal_tax_id":{"type":"string","example":"999999999"},"status":{"type":"string","example":"Pending Approval"},"approval_date":{"type":"string","example":"2023-03-30 10:10:10"},"status_date":{"type":"string","example":"2023-03-30 14:56:01"},"processor":{"type":"string","example":"Elavon"},"elavonappid":{"type":"string","example":"AWB2713821"},"discover_no":{"type":"string","example":"601113017198725"},"amex_no":{"type":"string","example":"601113017198725"},"fax":{"type":"string","example":"8052626205"},"corporate_name":{"type":"string","example":"Test Merchant, INC"},"service_products":{"type":"string","example":"ACCOUNTING/AUDITING SERVICES"},"business_type":{"type":"string","example":"MOTO / Internet"},"dateadded":{"type":"string","example":"2023-03-30 10:10:10"},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":""},"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"postal_code":{"type":"string","example":""}},"required":["type","address_line_1","address_line_2","city","state","postal_code"]}},"primary_sales_rep":{"type":"object","properties":{"id":{"type":"string","example":"1"},"link":{"type":"string","example":"/users/1"}},"required":["id","link"]},"statistics":{"type":"object","properties":{"link":{"type":"string","example":"/merchants/123456789/statistics"}},"required":["link"]},"primary_referral_source":{"type":"object","properties":{"id":{"type":"string","example":"12"},"link":{"type":"string","example":"/users/12"}},"required":["id","link"]},"division":{"type":"object","properties":{"id":{"type":"string","example":"12"},"name":{"type":"string","example":"Eastern Sales"}},"required":["id","name"]},"payee_splits":{"type":"array","items":{"type":"object","properties":{"payee":{"type":"object","properties":{"id":{"type":"number","example":0},"link":{"type":"string","example":""},"percentage":{"type":"number","example":0},"basis_points":{"type":"number","example":0},"net_pay":{"type":"boolean","example":false},"referral_partner":{"type":"boolean","example":false},"position":{"type":"number","example":1}},"required":["id","link","percentage","basis_points","net_pay","referral_partner","position"]}}}}},"required":["success","error","mid","name","contact_name","contact_lastname","website_url","phone","email","sic","mcc","federal_tax_id","status","approval_date","status_date","processor","elavonappid","discover_no","amex_no","fax","corporate_name","service_products","business_type","dateadded","primary_sales_rep","statistics","primary_referral_source","division","payee_splits"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/processors":{"get":{"tags":["Merchants"],"summary":"Gets a list of processor types","description":"","parameters":[],"responses":{"200":{"description":"Successfully returns a list of processor types","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":100},"processors":{"type":"array","items":{"type":"object","properties":{"merch_type":{"type":"string","example":"Elevon US"}},"required":["merch_type"]}}},"required":["success","error","count","processors"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":100},"processors":{"type":"array","items":{"type":"object","properties":{"merch_type":{"type":"string","example":"Elevon US"}},"required":["merch_type"]}}},"required":["success","error","count","processors"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/statistics":{"get":{"tags":["Merchants"],"summary":"Get statistics for a specific merchant","description":"","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The internal system ID of the merchant"}],"responses":{"200":{"description":"Successfully retreaved statistics for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"statistics":{"type":"object","properties":{"date_first_deposit":{"type":"string","example":""},"date_last_deposit":{"type":"string","example":""},"volume_current_month":{"type":"number","example":0},"volume_last_month":{"type":"number","example":0},"volume_year_to_date":{"type":"number","example":0},"volume_quarter_to_date":{"type":"number","example":0},"volume_total":{"type":"number","example":0}},"required":["date_first_deposit","date_last_deposit","volume_current_month","volume_last_month","volume_year_to_date","volume_quarter_to_date","volume_total"]}},"required":["success","error","statistics"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"statistics":{"type":"object","properties":{"date_first_deposit":{"type":"string","example":""},"date_last_deposit":{"type":"string","example":""},"volume_current_month":{"type":"number","example":0},"volume_last_month":{"type":"number","example":0},"volume_year_to_date":{"type":"number","example":0},"volume_quarter_to_date":{"type":"number","example":0},"volume_total":{"type":"number","example":0}},"required":["date_first_deposit","date_last_deposit","volume_current_month","volume_last_month","volume_year_to_date","volume_quarter_to_date","volume_total"]}},"required":["success","error","statistics"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/printstatements":{"get":{"tags":["Merchants"],"summary":"Generates and downloads statements","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{mid}/Statements","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant ID"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"optionalSalesteamno":{"type":"number","example":45000}},"required":["optionalSalesteamno"]}}],"responses":{"200":{"description":"Successfully generates one or more statements for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/printstatements/{statementkey}":{"get":{"tags":["Merchants"],"summary":"Generates and downloads a specific statement","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{mid}/Statements/{statementkey}","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant ID"},{"name":"statementkey","in":"path","required":true,"schema":{"type":"string"},"description":"Statement Key"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"optionalSalesteamno":{"type":"number","example":45000}},"required":["optionalSalesteamno"]}}],"responses":{"200":{"description":"Successfully generates one or more statements for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/equipment":{"get":{"tags":["Merchants"],"summary":"Get list of all equipment for a merchant","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/Equipment","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The external system ID of the merchant"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"optionalSalesteamno":{"type":"number","example":45000}},"required":["optionalSalesteamno"]}}],"responses":{"200":{"description":"Successfully returns a list of equipment for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"equipment":{"type":"array","items":{"type":"object","properties":{"terminal_id":{"type":"number","example":12345},"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"number","example":0},"paid":{"type":"number","example":0},"toBe_Paid":{"type":"number","example":0},"merch_Owned_Reprogram":{"type":"number","example":0},"VMC_payment":{"type":"number","example":0},"VMC_charged":{"type":"number","example":0},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["terminal_id","status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}}},"required":["success","error","equipment"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"equipment":{"type":"array","items":{"type":"object","properties":{"terminal_id":{"type":"number","example":12345},"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"number","example":0},"paid":{"type":"number","example":0},"toBe_Paid":{"type":"number","example":0},"merch_Owned_Reprogram":{"type":"number","example":0},"VMC_payment":{"type":"number","example":0},"VMC_charged":{"type":"number","example":0},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["terminal_id","status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}}},"required":["success","error","equipment"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"post":{"tags":["Merchants"],"summary":"Add new equipment to a merchant","description":"Pass the equipment data as a JSON object in the body of the request.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The internal system ID of the merchant"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved hint=Overrides the main status"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"boolean","example":false},"paid":{"type":"boolean","example":false},"toBe_Paid":{"type":"boolean","example":false},"merch_Owned_Reprogram":{"type":"boolean","example":false},"VMC_payment":{"type":"string","example":"false hint: Credit Card Payment"},"VMC_charged":{"type":"string","example":"false hint: Credit Card Charged"},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}}],"responses":{"200":{"description":"Equipment created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"tid":{"type":"number","example":1234}},"required":["success","tid"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"tid":{"type":"number","example":1234}},"required":["success","tid"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/equipment/{tid}":{"get":{"tags":["Merchants"],"summary":"Get detailed information about a terminal of a merchant","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{mid}/Equipment/{TID}","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The internal system ID of the merchant"},{"name":"tid","in":"path","required":true,"schema":{"type":"string"},"description":"Terminal ID"},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"optionalSalesteamno":{"type":"number","example":45000}},"required":["optionalSalesteamno"]}}],"responses":{"200":{"description":"Successfully returns details of a terminal for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"equipment":{"type":"object","properties":{"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"number","example":0},"paid":{"type":"number","example":0},"toBe_Paid":{"type":"number","example":0},"merch_Owned_Reprogram":{"type":"number","example":0},"VMC_payment":{"type":"number","example":0},"VMC_charged":{"type":"number","example":0},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}},"required":["success","error","equipment"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"equipment":{"type":"object","properties":{"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"number","example":0},"paid":{"type":"number","example":0},"toBe_Paid":{"type":"number","example":0},"merch_Owned_Reprogram":{"type":"number","example":0},"VMC_payment":{"type":"number","example":0},"VMC_charged":{"type":"number","example":0},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}},"required":["success","error","equipment"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"put":{"tags":["Merchants"],"summary":"Update a piece of equipment assigned to a merchant","description":"Pass the equipment data as a JSON object in the body of the request.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The internal system ID of the merchant"},{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"TID","description":"Terminal ID","in":"query","schema":{"type":"string"}},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"status":{"type":"string","example":"Approved"},"customStatus":{"type":"string","example":"Approved hint=Overrides the main status"},"terminalType":{"type":"number","example":0},"equipmentLeaseCreditQuality":{"type":"string","example":""},"equipmentLeaseFactor":{"type":"number","example":0},"equipmentLeaseCostToMerch":{"type":"number","example":0},"taxes1":{"type":"number","example":0},"taxes2":{"type":"number","example":0},"equipmentLeaseTotalCost":{"type":"number","example":0},"equipmentLeaseAM":{"type":"number","example":0},"equipmentLeaseAM2":{"type":"number","example":0},"equipmentLeaseRM":{"type":"number","example":0},"equipmentLeaseRM2":{"type":"number","example":0},"leaseVerified":{"type":"boolean","example":false},"paid":{"type":"boolean","example":false},"toBe_Paid":{"type":"boolean","example":false},"merch_Owned_Reprogram":{"type":"boolean","example":false},"VMC_payment":{"type":"boolean","example":false},"VMC_charged":{"type":"boolean","example":false},"purchase_Date":{"type":"string","example":"yyyy/mm/dd"}},"required":["status","customStatus","terminalType","equipmentLeaseCreditQuality","equipmentLeaseFactor","equipmentLeaseCostToMerch","taxes1","taxes2","equipmentLeaseTotalCost","equipmentLeaseAM","equipmentLeaseAM2","equipmentLeaseRM","equipmentLeaseRM2","leaseVerified","paid","toBe_Paid","merch_Owned_Reprogram","VMC_payment","VMC_charged","purchase_Date"]}}],"responses":{"200":{"description":"Equipment updated successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/volume":{"get":{"tags":["Merchants"],"summary":"Get merchant\'s year over year processing volume as reported in commission files","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/Report/Volume. Filter parameters can be in the url or json body.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The external system ID of the merchant"},{"name":"salesteamno","description":"The salesteamno for access privileges to merchant accounts","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","description":"The page number to return while paginating. The page value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"pagesize","in":"query","description":"The number of records to return in each page while paginating. The pagesize value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"body","in":"body","description":"filtering options passed has json in the body","required":true,"schema":{"type":"object","properties":{"salesteamno":{"type":"string","example":""},"year":{"type":"string","example":"2016"},"currency":{"type":"string","example":"USD"},"batchno":{"type":"string","example":""},"processor":{"type":"string","example":"ELAVON"}},"required":["salesteamno","year","currency","batchno","processor"]}}],"responses":{"200":{"description":"Successfully returns volume report data for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":5},"total":{"type":"number","example":12},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":5},"pages":{"type":"number","example":3},"data":{"type":"array","items":{"type":"object","properties":{"month":{"type":"string","example":"Jan"},"year":{"type":"number","example":2016},"mid":{"type":"number","example":123456789},"processor":{"type":"string","example":"ELAVON"},"currency":{"type":"string","example":"USD"},"volume":{"type":"number","example":6292.65},"avg_ticket":{"type":"number","example":524.39},"batchno":{"type":"number","example":201601},"transactions":{"type":"number","example":26}},"required":["month","year","mid","processor","currency","volume","avg_ticket","batchno","transactions"]}}},"required":["success","error","count","total","page","pagesize","pages","data"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"count":{"type":"number","example":5},"total":{"type":"number","example":12},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":5},"pages":{"type":"number","example":3},"data":{"type":"array","items":{"type":"object","properties":{"month":{"type":"string","example":"Jan"},"year":{"type":"number","example":2016},"mid":{"type":"number","example":123456789},"processor":{"type":"string","example":"ELAVON"},"currency":{"type":"string","example":"USD"},"volume":{"type":"number","example":6292.65},"avg_ticket":{"type":"number","example":524.39},"batchno":{"type":"number","example":201601},"transactions":{"type":"number","example":26}},"required":["month","year","mid","processor","currency","volume","avg_ticket","batchno","transactions"]}}},"required":["success","error","count","total","page","pagesize","pages","data"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/pci":{"get":{"tags":["Merchants"],"summary":"View PCI Compliance information on this merchant","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/PCI. Filter parameters can be in the url or json body.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"The external system ID of the merchant"},{"name":"salesteamno","description":"The salesteamno for access privileges to merchant accounts.","in":"query","schema":{"type":"string"}},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"salesteamno":{"type":"number","example":788}},"required":["salesteamno"]}}],"responses":{"200":{"description":"Successfully returns pci compliance info for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"saqstatus":{"type":"string","example":"Not Compliant"},"lastnoncompliancedate":{"type":"string","example":""},"nextscannerdate":{"type":"string","example":"N/A"},"merchantid":{"type":"number","example":123456},"citype":{"type":"string","example":"Sysnet"},"compliantstatus":{"type":"string","example":"N"},"lastannualfeeamt":{"type":"number","example":55},"dateadded":{"type":"string","example":"August, 12 2019 19:28:20"},"scannerstatus":{"type":"string","example":"Not Applicable"},"lastscannerdate":{"type":"string","example":"N/A"},"merchant_name":{"type":"string","example":"TEST WELLNESS CENTER"},"registrationdate":{"type":"string","example":"November, 04 2008 00:00:00"},"merch_id":{"type":"number","example":123},"exclusionreason":{"type":"string","example":""},"certifieddate":{"type":"string","example":"October, 15 2019 00:00:00"},"nextsaqdate":{"type":"string","example":"October, 15 2020 00:00:00"},"lastsaqdate":{"type":"string","example":"October, 15 2019 00:00:00"},"companyname":{"type":"string","example":"TEST WELLNESS CENTER"},"saqversion":{"type":"string","example":""},"annualfeedate":{"type":"string","example":"December, 08 2011 00:00:00"},"merchid":{"type":"number","example":123},"annualvolume":{"type":"number","example":180000}},"required":["success","error","saqstatus","lastnoncompliancedate","nextscannerdate","merchantid","citype","compliantstatus","lastannualfeeamt","dateadded","scannerstatus","lastscannerdate","merchant_name","registrationdate","merch_id","exclusionreason","certifieddate","nextsaqdate","lastsaqdate","companyname","saqversion","annualfeedate","merchid","annualvolume"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"saqstatus":{"type":"string","example":"Not Compliant"},"lastnoncompliancedate":{"type":"string","example":""},"nextscannerdate":{"type":"string","example":"N/A"},"merchantid":{"type":"number","example":123456},"citype":{"type":"string","example":"Sysnet"},"compliantstatus":{"type":"string","example":"N"},"lastannualfeeamt":{"type":"number","example":55},"dateadded":{"type":"string","example":"August, 12 2019 19:28:20"},"scannerstatus":{"type":"string","example":"Not Applicable"},"lastscannerdate":{"type":"string","example":"N/A"},"merchant_name":{"type":"string","example":"TEST WELLNESS CENTER"},"registrationdate":{"type":"string","example":"November, 04 2008 00:00:00"},"merch_id":{"type":"number","example":123},"exclusionreason":{"type":"string","example":""},"certifieddate":{"type":"string","example":"October, 15 2019 00:00:00"},"nextsaqdate":{"type":"string","example":"October, 15 2020 00:00:00"},"lastsaqdate":{"type":"string","example":"October, 15 2019 00:00:00"},"companyname":{"type":"string","example":"TEST WELLNESS CENTER"},"saqversion":{"type":"string","example":""},"annualfeedate":{"type":"string","example":"December, 08 2011 00:00:00"},"merchid":{"type":"number","example":123},"annualvolume":{"type":"number","example":180000}},"required":["success","error","saqstatus","lastnoncompliancedate","nextscannerdate","merchantid","citype","compliantstatus","lastannualfeeamt","dateadded","scannerstatus","lastscannerdate","merchant_name","registrationdate","merch_id","exclusionreason","certifieddate","nextsaqdate","lastsaqdate","companyname","saqversion","annualfeedate","merchid","annualvolume"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/notes":{"get":{"tags":["Merchants"],"summary":"Get list of notes for a merchant","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/Notes","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Required: The external system ID of the merchant","example":"12345678"},{"name":"salesteamno","description":"Optional: The salesteamno to determine accesss privileges. By default uses the salesteam associated with the apikey. can be present in the url or body json.","required":false,"example":123,"in":"query","schema":{"type":"integer"}},{"name":"username","description":"Optional: The username to filter records by. can be present in the url or body.","required":false,"example":"johnsmith","in":"query","schema":{"type":"string"}},{"name":"daterange","in":"query","description":"Optional: Filter notes by a date range starting from present back to a time. options are all, ytd, mtd, or n_datepart. example 60_d, 30_m, or 7_y. can be present in the url or body json.","required":false,"example":"60_d","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Optional: Used in conjunction with daterange, specify the timezone for inclusion of records in a range. GMT is default. See list of available timezone strings here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. can be present in the url or body json.","required":false,"example":"Etc/Greenwich","schema":{"type":"string"}},{"name":"notetype","description":"Optional: The type of note controlling visibility. 0 = User visible (default), 1= Visible to All, 2 = Officestaff visible. can be present in the url or body json.","required":false,"example":0,"in":"query","schema":{"type":"integer"}},{"name":"search","in":"query","description":"Optional: match a search term on Note contents","required":false,"example":"test","schema":{"type":"string"}},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"salesteamno":{"type":"number","example":45000},"username":{"type":"string","example":"test user"},"daterange":{"type":"string","example":"60_d"},"timezone":{"type":"string","example":"Etc/Greenwich"},"search":{"type":"string","example":"test"}},"required":["salesteamno","username","daterange","timezone","search"]}}],"responses":{"200":{"description":"Successfully returns a list of notes for a merchant","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"notes":{"type":"array","items":{"type":"object","properties":{"noteid":{"type":"number","example":756766},"notetype":{"type":"number","example":0},"note":{"type":"string","example":"Created merchant in TASQ"},"datechanged":{"type":"string","example":"April, 09 2015 19:22:20"},"dateadded":{"type":"string","example":"April, 09 2015 19:22:20"},"useradded":{"type":"string","example":"RobinM"},"userchanged":{"type":"string","example":"RobinM"}},"required":["noteid","notetype","note","datechanged","dateadded","useradded","userchanged"]}}},"required":["success","error","notes"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""},"notes":{"type":"array","items":{"type":"object","properties":{"noteid":{"type":"number","example":756766},"notetype":{"type":"number","example":0},"note":{"type":"string","example":"Created merchant in TASQ"},"datechanged":{"type":"string","example":"April, 09 2015 19:22:20"},"dateadded":{"type":"string","example":"April, 09 2015 19:22:20"},"useradded":{"type":"string","example":"RobinM"},"userchanged":{"type":"string","example":"RobinM"}},"required":["noteid","notetype","note","datechanged","dateadded","useradded","userchanged"]}}},"required":["success","error","notes"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]},"post":{"tags":["Merchants"],"summary":"Add a new note to a merchant account","description":"Pass the note params in the body as JSON object or as a url parameters.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Required: The external system ID of the merchant","example":"1234567890"},{"name":"note","description":"Required: note content to save. can be present in the url or body.","required":true,"example":"my test note","in":"query","schema":{"type":"string"}},{"name":"notetype","description":"Optional: The type of note controlling visibility. 0 = User visible (default), 1= Visible to Everyone (public), 2 = Officestaff visible (admin). can be present in the url or body json.","required":false,"example":0,"in":"query","schema":{"type":"integer"}},{"name":"salesteamno","description":"Optional: The salesteamno to determine accesss privileges. Defaults to the salesteam of the apikey. can be present in the url or body.","required":false,"example":123,"in":"query","schema":{"type":"integer"}},{"name":"username","description":"Optional: The username for history. Defaults to the owner of the apikey. can be present in the url or body.","required":false,"example":"JohnSmith","in":"query","schema":{"type":"string"}},{"name":"sendalert","description":"Optional: alert salesteam. 0=no alerts (default), 1=alert. can be present in the url or body.","required":false,"example":0,"in":"query","schema":{"type":"integer"}},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"notetype":{"type":"number","example":0},"note":{"type":"string","example":"my test note"},"salesteamno":{"type":"number","example":123},"username":{"type":"string","example":"test user"},"sendalert":{"type":"number","example":0}},"required":["notetype","note","salesteamno","username","sendalert"]}}],"responses":{"200":{"description":"Note created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"noteid":{"type":"number","example":1234}},"required":["success","noteid"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"noteid":{"type":"number","example":1234}},"required":["success","noteid"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/notes/{noteid}":{"delete":{"tags":["Merchants"],"summary":"Delete an existing merchant note (soft delete)","description":"Pass the external mid as a parameter in the url.","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Merchant ID external"},{"name":"noteid","in":"path","required":true,"schema":{"type":"string"},"description":"Note ID to delete, received from GET notes"}],"responses":{"200":{"description":"Successfully deletes the note","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":""}},"required":["success","error"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/callnotes/all":{"get":{"tags":["Merchants"],"summary":"Get list of Elavon call notes (tickets) across all merchants. Note: only returns max 10,000 records, default sorted by date descending. use the body json fields to filter by date range, search text or mid","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/Tickets","parameters":[{"name":"page","in":"query","description":"The page number to return while paginating. The page value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"pagesize","in":"query","description":"The number of records to return in each page while paginating. The pagesize value can be passed as a query parameter or in the json body.","schema":{"type":"string"}},{"name":"mid","description":"Optional: The external system ID of the merchant","required":false,"example":"12345678","in":"query","schema":{"type":"string"}},{"name":"salesteamno","description":"Optional: The salesteamno to determine accesss privileges. By default uses the salesteam associated with the apikey. can be present in the url or body json.","required":false,"example":123,"in":"query","schema":{"type":"integer"}},{"name":"daterange","in":"query","description":"Optional: Filter notes by a date range starting from present back to a time. options are all, ytd, mtd, or n_datepart. example 60_d, 30_m, or 7_y. can be present in the url or body json.","required":false,"example":"60_d","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Optional: Used in conjunction with daterange, specify the timezone for inclusion of records in a range. GMT is default. See list of available timezone strings here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. can be present in the url or body json.","required":false,"example":"Etc/Greenwich","schema":{"type":"string"}},{"name":"search","in":"query","description":"Optional: match a search term on Note contents","required":false,"example":"test","schema":{"type":"string"}},{"name":"body","in":"body","description":"","required":true,"schema":{"type":"object","properties":{"salesteamno":{"type":"number","example":45000},"daterange":{"type":"string","example":"60_d"},"timezone":{"type":"string","example":"Etc/Greenwich"},"search":{"type":"string","example":"test"}},"required":["salesteamno","daterange","timezone","search"]}}],"responses":{"200":{"description":"Successfully returns a list of calls notes across merchants","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"number","example":2},"success":{"type":"boolean","example":true},"count":{"type":"number","example":1},"callnotes":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"C"},"ticketno":{"type":"number","example":1},"datenoteadded":{"type":"string","example":"2021-10-10 08:00"},"post":{"type":"string","example":"Closed: Account Detail: Account Detail."},"dateticketopened":{"type":"string","example":"2021-10-10 08:00"},"source":{"type":"string","example":"ELAV"},"mid":{"type":"number","example":7500001654},"subject":{"type":"string","example":""},"email":{"type":"string","example":""},"name":{"type":"string","example":"Elavon Helpdesk"}}}},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":100},"pages":{"type":"number","example":1}},"required":["total","success","count","callnotes","page","pagesize","pages"],"xml":{"name":"main"}}},"application/xml":{"schema":{"type":"object","properties":{"total":{"type":"number","example":2},"success":{"type":"boolean","example":true},"count":{"type":"number","example":1},"callnotes":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"C"},"ticketno":{"type":"number","example":1},"datenoteadded":{"type":"string","example":"2021-10-10 08:00"},"post":{"type":"string","example":"Closed: Account Detail: Account Detail."},"dateticketopened":{"type":"string","example":"2021-10-10 08:00"},"source":{"type":"string","example":"ELAV"},"mid":{"type":"number","example":7500001654},"subject":{"type":"string","example":""},"email":{"type":"string","example":""},"name":{"type":"string","example":"Elavon Helpdesk"}}}},"page":{"type":"number","example":1},"pagesize":{"type":"number","example":100},"pages":{"type":"number","example":1}},"required":["total","success","count","callnotes","page","pagesize","pages"],"xml":{"name":"main"}}}}}},"security":[{"appkey":[],"appid":[]}]}},"/merchants/{mid}/callnotes":{"get":{"tags":["Merchants"],"summary":"Get list of Elavon call notes (tickets) for a specific merchant mid. Note: only returns max 10,000 records, default sorted by date descending. use the body json fields to filter by date range, search text","description":"see mspware UI: https://fidano.com/Beta#/Merchants/{internal_mid}/Tickets","parameters":[{"name":"mid","in":"path","required":true,"schema":{"type":"string"},"description":"Required: The external system ID of the merchant","example":"12345678"},{"name":"salesteamno","description":"Optional: The salesteamno to determine accesss privileges. By default uses the salesteam associated with the apikey. can be present in the url or body json.","required":false,"example":123,"in":"query","schema":{"type":"integer"}},{"name":"daterange","in":"query","description":"Optional: Filter notes by a date range starting from present back to a time. options are all, ytd, mtd, or n_datepart. example 60_d, 30_m, or 7_y. can be present in the url or body json.","required":false,"example":"60_d","schema":{"type":"string"}},{"name":"timezone","in":"query","description":"Optional: Used in conjunction with daterange, specify the timezone for inclusion of records in a range. GMT is default. See list of available timezone strings here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. can be present in the url or body json.","required":false,"example":"Etc/Greenwich","schema":{"type":"string"}},{"name":"search","in":"query","descriptio
[...]
